<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <h1>About</h1>
        </div>
    </nav>
    <div class="container" style="padding-top: 75px;">
        <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium earum est minus nam
            nulla
            possimus, provident quasi quibusdam rem sapiente, sit ut voluptates. Cum eveniet facere magni quo temporibus
            voluptates!
        </div>
    </div>
</div>