<div class="container-fluid">

    <h1>Blackjack Simulator</h1>

    <div style="height: 20vh">
        <md-button href="#/play" class="md-raised md-warn">Play</md-button>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <a href="#/simulate" class="btn btn-lg btn-block btn-primary">Simulate</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <a href="#/about" class="btn btn-lg btn-block btn-primary">About</a>
        </div>

    </div>

</div>
