<md-content layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span class="md-flex">Blackjack Simulator</span>
        </div>
    </md-toolbar>
    <h1>Blackjack simulator</h1>


    <div style="height: 20vh">
        <md-button href="#/play" class="md-raised md-warn">Play</md-button>
    </div>
    <div style="height: 20vh">
        <md-button href="#/simulate" class="md-raised md-warn">Simulate</md-button>
    </div>
    <div style="height: 20vh">
        <md-button href="#/about" class="md-raised md-warn">About</md-button>
    </div>

</md-content>
