<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <h1>Simulate</h1>
        </div>
    </nav>


    <div class="form-horizontal" style="padding-top: 75px;">
        <!-- Bet size -->
        <div class="form-group">
            <label for="numBetSize" class="col-xs-4 control-label">Bet size</label>

            <div class="col-xs-8">
                <input type="number" class="form-control" id="numBetSize"
                       ng-model="vm.betSize" ng-change="vm.updateUnits()"/>
            </div>
        </div>
        <!--Bankroll / player amount-->
        <div class="form-group">
            <label for="numBankroll" class="col-xs-4 control-label">Bankroll</label>

            <div class="col-xs-8">
                <input type="number" class="form-control" id="numBankroll"
                       ng-model="vm.playerStartAmount" ng-change="vm.updateUnits()"/>
            </div>
        </div>
        <!--Calculated # of Units-->
        <div class="form-group">
            <div class="col-xs-4 control-label">
                <h3>Units:</h3></div>

            <div class="col-xs-8">
                <h3>{{ vm.units}}</h3>
            </div>
        </div>
        <!--Num hands-->
        <div class="form-group">
            <label for="numNumHands" class="col-xs-4 control-label">Hands per session</label>

            <div class="col-xs-8">
                <input type="number" class="form-control" id="numNumHands"
                       ng-model="vm.numHands"/>
            </div>
        </div>

        <!--Num sessions-->
        <div class="form-group">
            <label for="numNumSessions" class="col-xs-4 control-label">Num sessions</label>

            <div class="col-xs-8">
                <input type="number" class="form-control" id="numNumSessions"
                       ng-model="vm.numSessions" ng-change="vm.changeNumSessions()"/>
            </div>
        </div>

        <!--Win percentage goal-->
        <div class="form-group">
            <label for="numWinPercentageGoal" class="col-xs-4 control-label">GOAL: Win (%)</label>

            <div class="col-xs-8">
                <input type="number" class="form-control" id="numWinPercentageGoal"
                       ng-model="vm.winPercentageGoal" ng-change="vm.changePercentage()"/>
            </div>
        </div>

        <div class="form-group">
            <label for="btnSimulate" class="col-xs-4 control-label"></label>

            <div class="col-xs-8">
                <!--Button to start simulation-->
                <a ng-click="vm.startSimulate()" class="btn btn-block btn-success" id="btnSimulate">Simulate!</a>
                <div style="height: 50px; line-height: 50px; text-align: center; color:#333; background-color: #8ec2bf; border: 1px solid brown"
                     ng-show="vm.showSpinner">
                    <p>Calculating, playing {{vm.numTotalHands}} hands of blackjack...</p>
                </div>
            </div>
        </div>

    </div>
    <!--/Container met instellingen -->

    <!-- Container-div showing the results -->
    <div id="results" ng-show="vm.resultsReady" class="animate">
        <h3>Goals Reached: {{ vm.numGoalsReached}} out of
            {{vm.numSessions}} sessions
            ({{vm.numGoalsReachedPercentage}}%)!
        </h3>

        <h3>Times bankrupt: {{ vm.numBankrupts}} out of
            {{vm.numSessions}} sessions
            ({{vm.bankruptPercentage}}%).</h3>

        <div>
            <a ng-click="vm.clear()" class="btn btn-lg btn-default">Clear</a>
            <a href="#/details" class="btn btn-lg btn-primary">Details</a>
        </div>
    </div>
</div>